.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-input {
    margin: auto;
    margin-bottom: 30px;
    height: 38px;
    border-radius: 5px;
    width: 150px;
}